.button {
  padding: 10px 20px;
  background-color: #4f3b78;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'space mono', monospace;
  font-size: 13px;
}

.button:hover {
  background-color: #927fbf;
}