@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'space mono', monospace;
}

.app-container {
  width: 95vw;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
}